body
{
	font-family:calibri;
	font-size:1.1em;
	padding:0px;
	margin:0px;
	text-transform:capitalize;
}


.m1
{
	text-align:center;
	padding-top:4%;
}

#navigation
{
	box-shadow:8px 8px 11px 5px rgb(24, 51, 64);
}

#gallery
{
	margin-top:1%;
	z-index:2;
}



.boad
{
	margin-bottom:1%;
	text-align: center;
}

.footer
{
	position:fixed;
	bottom:0px;
	width:100%;

	background-color: rgb(24, 51, 64);
	color:white;
}

.ad
{
	padding-top:5px;
}

.imager
{
	max-height:150px;
	max-width:250px;
}

.dialog
{
	position:relative;
	margin:0 auto;
	top:25%;
	
}